.header {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid rebeccapurple;
  font-weight: 600;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color: rgb(175, 85, 2);
  background-color: rgb(167, 167, 4);
}
